/* reset rules */
    h2, p, ol, ul {

        /* to overwrite bootstrap's CSS */
        margin-bottom: 0;
    }

    ol, ul {

        /* to overwrite bootstrap's CSS */
        padding-left: 0;
    }

    li {
        list-style: none;
    }
/* /reset rules */

/* rules used in specific parts of the page */
    html {

        /* to make a reference for the percentage heights of thix box's children */
        height: 100%;

        font-size: 14px;
    }
    
    body {
        display: flex;
        flex-direction: column;

        /* to make a reference for the percentage heights of thix box's children */
        height: 100%;

        font-family: sans-serif;
    }

    header {
        display: flex;
        flex-shrink: 0;
        height: 60px;
        padding: 0 20px;
        background-color: black;
        justify-content: space-between;
        align-items: center;
    }

    main {
        flex-grow: 1;
        background-color: rgb(24, 24, 24);
        color: white;
    }

    main .movies, 
    main .shows {
        display: flex;
        flex-wrap: wrap;
    }

    main .movies .movie, 
    main .shows .show {
        position: relative;
        margin: 20px;
        width: 342px;
        height: auto;
    }
    
    main .movies .movie .info, 
    main .shows .show .info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;  
    }

    main .movies .movie:hover .info,
    main .shows .show:hover .info {
        display: block;
    }

    main .movies .movie:hover .poster,
    main .shows .show:hover .poster {
        opacity: .2;
    }

    main .movies .movie .star, 
    main .shows .show .star {
        float: left;
    }
/* /rules used in specific parts of the page */
