/* reset rules */
    h1, h2, p, ol, ul {

        /* to overwrite bootstrap's CSS */
        margin-bottom: 0;
    }

    input:focus {

        /* to overwrite chrome's CSS */
        outline: none;
    }

    ol, ul {

        /* to overwrite bootstrap's CSS */
        padding-left: 0;
    }

    li {
        list-style: none;
    }
/* /reset rules */

/* rules used in specific parts of the page */
    html {

        /* to make a reference for the percentage heights of thix box's children */
        height: 100%;

        font-size: 16px;
    }
    
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-width: 350px;
        font-family: sans-serif;
    }

    header {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        background-color: black;
        align-items: center;
    }

    header .search-bar {
        display: flex;
        width: 256px;
        height: 35px;
        margin-top: 16px;
        border-radius: 30px;
        padding: 0 15px;
        background-color: white;
        align-items: center;
    }

    header .search-bar .magnifying-glass-icon {
        color: rgb(118, 118, 118);
    }

    header .search-bar .movie-or-show-input {
        
        /* to overwrite bootstrap's CSS */
        width: 100%;

        margin-left: 10px;

        /* to overwrite bootstrap's CSS */
        border: none;

        font-size: 18px;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 10px 0;
        background-color: rgb(24, 24, 24);
        color: white;
        align-items: center;
    }

    main .movies-section h1,
    main .shows-section h1 {
        display: none;
        font-size: 40px;
        text-align: center;
    }

    main .movies, 
    main .shows {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    main .movies .movie, 
    main .shows .show {
        position: relative;
        display: flex;
        width: 342px;
        height: 470px;
        margin: 20px;
        justify-content: center;
        align-items: center;
    }
    
    main .movie .info, 
    main .show .info {
        display: none;
        height: 100%;
        padding: 10px;
        overflow-y: auto;
        z-index: 1;
    }

    /* workaround to fix a bug in Firefox (Firefox doensn't show the bottom padding of the .info
    element. Other browsers show the bottom padding as expected) */
    @-moz-document url-prefix() {
        main .movie .info::after,
        main .show .info::after {
            content: "";
            display: inline-block;
        }
    }   
    
    main .movie:hover .info,
    main .show:hover .info {
        display: block;
    }

    main .movie .info li,
    main .show .info li {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    main .movie .info h2,
    main .show .info h2 {
        margin: 5px 0;
        font-size: 20px;
    }

    main .movie .poster,
    main .show .poster {
        position: absolute;

        /* to give the posters the same dimensions of their parent */
        width: 100%;
        max-height:100%;
    }
        
    main .movie:hover .poster,
    main .show:hover .poster {
        opacity: .2;
    }

    main .movie .lang-flag,
    main .show .lang-flag {
        width: 32px;
        height: auto;
    }

    main .movie .stars, 
    main .show .stars {
        display: flex;
    }

    main .movie .star, 
    main .show .star {
        padding-left: 3px;
    }
/* /rules used in specific parts of the page */
